.episodeCard {
  font-weight: 900;
  text-align: center;
}
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b8ff33;
  color: rgb(53, 13, 87);
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
}
